
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#contenedor {
    text-align: center;
    background-color: rgb(187, 235, 243);
    height: 150px;
    width: 200px;
    border-radius: 2px;
    padding: 10%;
    border: 3px solid rgb(87, 155, 231);
    flex-direction: column;
    
    
}
h1{
    margin-left: -5%;
    width: 110%;
    margin-top: -100px;
}

input{
    margin-left: 10%;
    left: 0;
    width: 100%; 
    
}
label{
    margin-left: -20%;
    display: block;
    margin-bottom: 5px;
    margin-top: -5px;
}

header {
    padding-top: -200%;
    width: 110%;
    margin-left: -5%;
    position: relative;
}

.altura{
    margin-left: -39%;
}

.peso{
    margin-left: -39%;
    margin-top: 10px;
}

.boton{

display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  flex-direction: column;

  width: 150px;
  
  color: #070606;
}


