*{
    font-family: arial;
    height: 100%;
    width: 100%;
    color: white;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/fondo\ rosa.jpg);
    
    
}

#contenedor{
    text-align: center;
    background-color: palevioletred;
    height: 1000px;
    width: 700px;
    height: auto;
    border-radius: 20px;
    padding: 2%;
    border: 10px solid black;
    
    
}
#contenedor input,select{
    width: 50%;
    background-color: pink;
    color: purple;
    text-align: left;
    margin: 5px 100px;
    
}

.calculos{
    text-align: center;
    font-size: 25px;
    font-style: italic;
}


button {
    width: 10%;
    color: purple;
    background-color: rgb(240, 123, 205);
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: rgb(255, 192, 203);
    transform: scale(1.05);
}

button:active {
    background-color: #000;
    transform: scale(0.95);
}

header {
    background-color: black;
    width: 110%;
    margin-left: -5%;
}
span{
    font-size: 25px;
}
