body{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    
}
#contenedor{
    display: flex;
    flex-direction: column-reverse;
    
}
#contenedor div{
background-color: blue;
margin: 10px;
height: 40px;
width: 40px;
display: flex;
justify-content: center;
align-items: center;
border: 100xp solid black;
font-size: 20px;
}
