/* Reiniciar los márgenes y rellenos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Establecer el color de fondo y el color de texto para el cuerpo */
body {
    background-color: #a8faef;
    font-family: Arial, sans-serif;
}

/* Estilo del contenedor div */
.contenedor {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eda2f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo del encabezado y título */
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo de los elementos del formulario y etiquetas */
label {
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style: none;
}

li {
    margin: 5px 0;
}

/* Estilo de los botones de radio */
input[type="radio"] {
    margin-right: 5px;
}

/* Estilo del botón */
#btnCalcularIMC {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilo de los campos de entrada de resultados */
input[type="text"][readonly] {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Agregar espaciado */
br {
    margin: 10px 0;
}
