/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

#contenedor {
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado */
#encabezado {
    text-align: center;
    padding: 20px 0;
    background-color: #8cfdee3b;
    color: #ff6fcf;
}

#encabezado h1 {
    font-size: 24px;
}

/* Estilos para los pasos */
label {
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #fd50b5b4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b9eef5;
}

/* Estilos para los resultados */
#Resultados {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el pie de navegación */
#pieNavegacion {
    margin-top: 20px;
    text-align: center;
    background-color: #aef1e6;
    color: #df189d;
    padding: 10px;
}

#pieNavegacion h3 {
    font-size: 16px;
}
