.contenedor {
    width: 80%; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #fad1fc; 
    border: 1px solid #b943d6; 
    border-radius: 10px; 
}

/* Estilos para el encabezado dentro del contenedor */
#encabezado {
    text-align: center; 
    background-color: #f54fe7; 
    color: #fff; 
    padding: 10px; 
}

#tablaMultiplicacion table img{
    
    width: 20px;
    height: 20px;
}